
.bg_custom_color{
    background-color: #fff7ef;
}

/* media queiry */
 
 @media only screen and (max-width : 320px) {

    .custom_responsive{
        flex-direction: column;
    }
    
}

@media only screen and (min-width : 321px) and (max-width : 575px){
    .custom_responsive{
        flex-direction: column;
    }
}